{% extends "layout.html" %}
{% block body %}
	<div class="container">
		{% for srv in servers %}
			<section class="serv">
				<header class="serv__head">
					<div>
						<span class="serv__status serv__status--up">
							&#9679;
						</span>
						<h3 class="serv__name"><a href="/vm/{{ srv['name'] }}">{{ srv['name'] }}</a></h3>
					</div>
					<div class="serv__ip">{{ srv['backend']  }}</div>
				</header>
				<article class="serv__elements">
					{% for ele in srv['parameters'] %}
						<div class="serv__element">
							{{ ele }} : {{ srv['parameters'][ele] }}
						</div>
					{% endfor %}
				</article>
			</section>
		{% endfor %}
	</div>
{% endblock %}