{% extends "layout.html" %}
{% block body %}
	<div class="list">
		{% for srv in servers %}
		<section class="serv serv__head">
			<div class="item">
				{% if srv['parameters']['pid'] %}
					<span class="serv__status serv__status--up">&#9679;</span>
				{% else %}
					<span class="serv__status serv__status--down">&#9679;</span>
				{% endif %}
				<a href="/node/{{ srv['node'] }}">#{{ srv['node'] }}</a>
			</div>
			<div class="item">
				<a href="/vm/{{ srv['name'] }}">{{ srv['name'] }}</a>
			</div>
			<div class="item">
				{{ srv['backend']  }}
			</div>
		</section>	
		{% endfor %}
	</div>
{% endblock %}