{% extends "layout.html" %}
{% block body %}
	<div class="container">
		<section class="serv">
			<header class="serv__head">
				<div>
					{% if srv['parameters']['pid'] != "0" %}
						<span class="serv__status serv__status--up">&#9679;</span>
					{% else %}
						<span class="serv__status serv__status--down">&#9679;</span>
					{% endif %}
					<h3 class="serv__name">
						<a href="/node/{{ srv['node'] }}">#{{ srv['node'] }}</a>
						 | 
						<a href="/vm/{{ srv['name'] }}">{{ srv['name'] }}</a>
					</h3>
				</div>
				<div class="serv__ip">{{ srv['image']  }} | {{ srv['backend']  }}</div>
			</header>
			<article class="serv__gpu">
				<div class="serv__grid-3">
					
					<div class="serv__mod" id="start">
						Start VM
						<div class="serv__modNumber">
							▶
						</div>
					</div>
					<div class="serv__mod" id="stop">
						Stop VM
						<div class="serv__modNumber">
							✕
						</div>
					</div>

					<div class="serv__mod" id="delete">
						Delete VM
						<div class="serv__modNumber">
							🗑
						</div>
					</div>

				</div>
				<div class="serv__grid-3">
					{% for ele in srv['parameters'] %}
						<div class="serv__mod">
							<div>
								{{ ele }}
							</div>
							<div class="serv__modNumber">
								{{ srv['parameters'][ele] }}
							</div>
						</div>
					{% endfor %}
				</div>
				<div class="serv__grid-3">
					{% for ele in srv['interfaces'] %}
						<div class="serv__mod">
							<div>
								{{ ele }}
							</div>
							<div class="serv__modNumber">
								{{ srv['interfaces'][ele] }}
							</div>
						</div>
					{% endfor %}
				</div>
			</article>
		</section>
	</div>
	<script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js""></script>
	<script type="text/javascript">
		$(document).ready(function() {
		$("#start").click(function() {
			call("start");
		});

		$("#stop").click(function() {
			call("stop");
		});

		$("#delete").click(function() {
			call("delete");
			window.location.assign('http://{{ ip['ip'] }}:{{ ip['port'] }}');
		});

		function call(arg) {
			var name = '{{ srv['name'] }}';
			var ip = 'http://{{ ip['ip'] }}:{{ ip['port'] }}';

			$.ajax({
				url: ip + '/vm_action/' + arg + '/' + name,
				type: 'POST'
			});
		}
	});
	</script>
{% endblock %}